.rc-slider-track {
  background-color: $red !important;
}

.rc-slider-handle {
  border: solid 1px $red !important;
  background-color: $white !important;
}

.slider-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;

  .rc-slider {
    margin: 0 10px;

    .handle-wrapper {
      span {
        left: 0;
      }
    }
  }
}
